@page
@model TicketsModel
@{
    ViewData["Title"] = "My tickets";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="container">
    @foreach (var myPayment in Model.MyPayments)
    {
        <div class="row mt-3 p-3 rounded" style="border: 1px solid darkgray">
            <div class="col-auto ps-0 pe-3">
                <img src="/@myPayment.Event.ImageName" class="rounded float-start" style="width: 200px; height: 200px; object-fit: cover" alt="">
            </div>

            <div class="col-auto p-0">
                <div class="fs-4 mb-3">
                    <div class="fw-bold">
                        <a asp-page="/Events/Event" asp-route-id="@myPayment.Event.Id" style="color: black">@myPayment.Event.Title</a>
                    </div>
                    <div class="fs-4">
                        <a asp-page="/Organizations/Organization" asp-route-id="@myPayment.Organization.Id" style="color: black">@myPayment.Organization.Name</a>
                    </div>
                </div>

                <div class="fs-6 mb-3">
                    <p class="text-break fw-bold mb-0">@myPayment.TicketType.Title</p>
                    @if (!string.IsNullOrWhiteSpace(myPayment.TicketType.Description))
                    {
                        <p class="text-break mb-0">@myPayment.TicketType.Description</p>
                    }
                </div>

                <div class="fs-6">
                    <p class="mb-0">Price: $@myPayment.TicketType.Price</p>
                    <p class="mb-0">Purchase date: @myPayment.Payment.ChangeDate</p>
                    <p class="mb-0">Event date: @myPayment.Event.Date</p>
                    @if (myPayment.Event.StartTime.HasValue)
                    {
                        <p class="mb-0">Start time: @myPayment.Event.StartTime.Value.ToString("HH:mm")</p>
                    }
                </div>
            </div>
        </div>
    }
</div>